@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.headersection {
  display: flex;
}
.header {
  background-color: #c1bac4;
  width: 100vh;
  height: 10vh;
  flex-direction: row;
}
.menulinks {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: inline;
  padding: 40px;
}

main {
  display: flex;
  background-color: #454745;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.stortnamn {
  font-size: 70px;
  display: block;
  width: 60%;
  margin-left: 0%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes namn_animation {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: #c1bac4;
  }
}

.developer,
.stortnamn,
.frontend,
h2 {
  font-family: "Koulen", cursive;
  color: #c1bac4;
  animation: namn_animation 5s;
}
.frontend {
  font-size: 40px;
  margin-bottom: -7%;
}
.developer {
  display: block;
  margin-left: 30px;
  font-size: 40px;
  margin-top: 0;
}

.content-container {
  display: flex;
  width: 50%;
}
.photo-container {
  width: 100%;
}

.photo {
  width: 100%;
  border-radius: 50%;
}
h2 {
  text-align: center;
}
.about_box {
  background-color: black;
  color: white;
  margin: 5%;
}
.projekt {
  height: 600px; /*tillfällig utfyllnad, ska bort*/
}

.purplesection {
  background-color: #966fa9;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /*desktop*/
  .mainsection {
    display: flex;
    flex-direction: row;
  }

  .header {
    background-color: #c1bac4;
    width: 100%;
  }
  main {
    background-color: #454745;
    width: 80%;
    order: 2;
  }

  .stortnamn {
    margin-left: 0;
    font-size: 100px;
  }

  .frontend {
    margin-left: -100px;
  }
  .developer {
    margin-left: 70px;
    margin-top: -70px;
  }
  .frontend,
  .developer {
    font-size: 80px;
  }

  .photo {
    width: 50%;
  }
  .aboutcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about_box {
    width: 60%;
  }

  h2 {
    font-size: 60px;
  }

  .purplesection {
    background-color: #966fa9;
    order: 1;
    width: 20%;
  }
}
